<template name="notFound">
	<div class="not-found-container">
		<div class="container-fluid">
			<div class="logo"><img src="/images/logo3.png" alt=""></div>
			<div class="not-found-msg">
				<div class="wrapper-404 clearfix">
					<div class="emoji-icon">
						<img src="/images/404.png" alt="">
					</div>
					<div class="message-404">
						<p>UPS!</p>
						<p>ERROR 404</p>
						<p>Página no encontrada</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="return-link">
		<a href="{{pathFor 'home'}}">Volver a BeRalons</a>
	</div>
</template>
