<template name="home">
<div class="clearfix"><div class="retina" style="width:40px"><img src="images/capua1.png"></div><span>Welcome to Capua 1!</span></div>
<div class="clearfix"><div class="retina" style="width:40px"><img src="images/capua2.png"></div><span>Welcome to Capua 2!</span></div>
<div class="clearfix"><div class="retina" style="width:40px"><img src="images/capua3.png"></div><span>Welcome to Capua 3!</span></div>
<div class="clearfix"><div class="retina" style="width:40px"><img src="images/capua5.png"></div><span>Welcome to Capua 4!</span></div>
<div class="clearfix"><div class="retina" style="width:40px"><img src="images/capua4.png"></div><span>Welcome to Capua 5!</span></div>


</template>
