<template name="blog">
	<div class="amphitheatre">
		<div class="row">
			{{#each articles}}
				<article class="glory">
					<div class="retina pic">
						<img src="{{picture}}">
					</div>
					<div class="tags">
						{{#each tags}}
							<span class="{{getTagById this}} {{_id}}">{{getTagById this}}</span>
						{{/each}}
					</div>
					<div class="body">
						<div class="date">{{dateFormat date format="DD MMMM YYYY"}}</div>
						<div class="author author-capua">{{author}}</div>
						<h1>{{title}}</h1>
						{{{description}}}
						<div class="read"><a href="#">Leer <i class="fa fa-share"></i></a></div>
						<!--p>Éstas locuras estarán relacionadas con el mundo de la programación y de la tecnología. Somos dos <del>programadores</del> gladiadores y pronto escribiremos nuestros artículos de presentación.</p>
						<p>Por Capua!</p-->
					</div>
				</article>
			{{/each}}
		</div>
	</div>
</template>
