<template name="blog">
	<div class="amphitheatre">
		<div class="row">
			{{#each articles}}
				<article class="glory">
					<div class="retina pic">
						<img src="{{picture}}">
					</div>
					<div class="tags">
						{{#each tags}}
							<span class="{{getTagById this}} {{_id}}">{{getTagById this}}</span>
						{{/each}}
					</div>
					<div class="body">
						<div class="date">{{dateFormat date format="DD MMMM YYYY"}}</div>
						<div class="author author-capua">{{author}}</div>
						<h1>{{title}}</h1>
						{{{description}}}
						<div class="read"><a href="/article/{{_id}}">Leer <i class="fa fa-share"></i></a></div>
					</div>
				</article>
			{{/each}}
		</div>
	</div>
</template>
