html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #FFF;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	overflow-x: hidden;

	font-size: 15px;
	font-weight: 300;
	color: rgba(33,41,52,.6);
	line-height: 1.6em;
}
// TEMPO!

span, .retina{
	float: left;
}
.clearfix{
	width: 300px;
height: 80px;
}
span{
	position: relative;
	top: 20px;
	left: 10px;
}

a{
	color: inherit;
}

p{
	margin: 0;
}
#spinner {
	height: 300px;
}

.retina img{
	width: 100%;
	vertical-align: middle;
}

#iron-router-progress {
    background-color : #2F39AA;
    box-shadow       : 0 0 5px #2F39AA;
}
#iron-router-progress.spinner:before {
    border-color : #2F39AA;
}

.fast{
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
}
