html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #FFF;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	overflow-x: hidden;

	font-size: 15px;
	font-weight: 300;
	color: rgba(33,41,52,.8);
	line-height: 1.6em;
}
.icon{
	width: 40px;
}
.logo{
	width: 250px;
	position: relative;
	color: rgba(33,41,52,1);
	margin-left:13px;
	.logo-text{
		font-size: 36px;
		line-height: 36px;
		font-weight: 100;
		position: absolute;
		left: 60px;
		top:50%;
		margin-top: -((36px + 18px)/2); //toomaaaaaaa ahi, por capua!!
		div:last-child{
			font-size: 18px;
			line-height: 18px;
			position: relative;
		}
	}
	a { color: inherit; }
}
a{
	color: $light-capua;
	&:hover{
		color: $dark-capua;
	}
}

p{
	margin: 0;
}
#spinner {
	height: 300px;
}

.retina img{
	width: 100%;
	vertical-align: middle;
}

#iron-router-progress {
    background-color : #2F39AA;
    box-shadow       : 0 0 5px #2F39AA;
}
#iron-router-progress.spinner:before {
    border-color : #2F39AA;
}

.fast{
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
}

#main-content{
	padding-top: 30px;
}
.adjust{
	width: 750px;
	padding-left: 75px;
	position: relative;
}
.mini-info{
	margin: 50px 0;
	position: relative;
	.gladiator{
		width: 45%;
		&:first-child{
			float: left;
		}
		&:last-child{
			float: right;
		}
		.name{
			font-size: 13px;
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			font-weight: 500;
			color: $dark-capua;
		}
		.bio{
			width: 100%;
			text-align: center;
			font-weight: 200;
			color: $light-capua;
			font-size: 11px;
			line-height: 14px;
			.fa-heart{
				color: #f25555;
				margin: 0 5px;
			}
		}
		.front{
			width: 20px;
			margin: 10px auto;
		}
	}
	.picture{
		width: 100px;
		margin:0 auto;
		border-radius: 50%;
		border: 4px solid $light-capua;
		img{
			border-radius: 50%;
		}
	}
}
