html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #FFF;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	overflow-x: hidden;

	font-size: 15px;
	font-weight: 300;
	color: rgba(33,41,52,.8);
	line-height: 1.6em;
}
.icon{
	width: 40px;
}
.logo{
	width: 250px;
	position: relative;
	color: rgba(33,41,52,1);
	.logo-text{
		font-size: 36px;
		line-height: 36px;
		font-weight: 100;
		position: absolute;
		left: 60px;
		top:50%;
		margin-top: -((36px + 18px)/2); //toomaaaaaaa ahi, por capua!!
		div:last-child{
			font-size: 18px;
			line-height: 18px;
			position: relative;
		}
	}
	a { color: inherit; }
}
a{
	color: $light-capua;
	&:hover{
		color: $dark-capua;
	}
}

p{
	margin: 0;
}
#spinner {
	height: 300px;
}

.retina img{
	width: 100%;
	vertical-align: middle;
}

#iron-router-progress {
    background-color : #2F39AA;
    box-shadow       : 0 0 5px #2F39AA;
}
#iron-router-progress.spinner:before {
    border-color : #2F39AA;
}

.fast{
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
}

#main-content{
	padding-top: 30px;
}
