.amphitheatre{
	margin-top: 100px;
	.glory{
		width: 480px;
		border: 1px solid rgba(33,41,52,.4);
		@include border-radius(3px);
		overflow: hidden;
		position: relative;
		.pic{
			background-color: $light-capua;
			opacity: .7;
			height: 150px;
			width: 100%;
			overflow: hidden;
			.blur{
				-webkit-filter: blur(3px);
				 -moz-filter: blur(3px);
				 -o-filter: blur(3px);
				 -ms-filter: blur(3px);
				 filter: blur(3px);
			}
		}
		.tags{
			position: absolute;
			top: 10px;
			left: 7px;
			width: 100%;
			text-transform: uppercase;
			@include font-size(6, 6);
			font-weight: 200;
			span{
				background-color: white;
				padding: 2px 6px;
				@include border-radius(2px);
				&.javascript{
					background-color: $javascript-color;
				}
				&.css{
					background-color: $css-color;
				}
			}
		}
		.body{
			padding: 11px 15px 20px 15px;
			position: relative;
			.date{
				@include font-size(8, 8);
				position: absolute;
				top: 15px;
				left: 15px;
			}
			.author{
				@include font-size(8,8);
				position: absolute;
				top: 15px;
				right: 15px;
				&.author-capua{
					padding-left: 16px;
					&:before{
						content: '';
						display: block;
						background-image: url('/images/capua.png');
						background-repeat: no-repeat;
						background-size: 12px;
						width: 13px;
						height: 20px;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -10px;
					}
				}
			}
			h1{
				margin: 45px 0 20px 0;
				font-size: 28px;
				font-weight: 300;
				color: rgba(33,41,52,.8);
				line-height: 20px;
			}
			p{
				font-size: 15px;
				font-weight: 300;
				color: rgba(33,41,52,.8);
				line-height: 1.6em;
				margin: 10px 0;
			}
			.stats{
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
			.read{
				@include font-size(10,10);
				font-weight: 300;
				margin-top: 30px;
				position: relative;
				i{
					@include font-size(8,8);
					position: relative;
					top:-1px;
				}
			}
		}
	}
	.full-glory{
		width: 100%;
		position: relative;
		@include bp(sm){
			//width: 1000px;
			//padding-left: 75px;
		}
		.single-wrap{
			width: 750px;
			padding-left: 75px;
		}
		.pic{
			background-color: $light-capua;
			opacity: .7;
			height: 150px;
			width: 100%;
			overflow: hidden;
			.blur{
				-webkit-filter: blur(3px);
				 -moz-filter: blur(3px);
				 -o-filter: blur(3px);
				 -ms-filter: blur(3px);
				 filter: blur(3px);
			}
		}
		.tags{
			padding: 11px 0 20px 0;
			width: 100%;
			text-transform: uppercase;
			@include font-size(6, 6);
			font-weight: 200;
			span{
				background-color: white;
				padding: 2px 6px;
				@include border-radius(2px);
				&.javascript{
					background-color: $javascript-color;
				}
				&.css{
					background-color: $css-color;
				}
			}
		}
		.body{
			padding: 11px 0 20px 0;
			position: relative;
			.date{
				@include font-size(8, 8);
				float: left;
			}
			.author{
				@include font-size(8,8);
				float: right;
				position: relative;
				&.author-capua{
					padding-left: 16px;
					&:before{
						content: '';
						display: block;
						background-image: url('/images/capua.png');
						background-repeat: no-repeat;
						background-size: 12px;
						width: 13px;
						height: 20px;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -10px;
					}
				}
			}
			h1{
				margin: 45px 0 20px 0;
				font-size: 38px;
				font-weight: 300;
				color: rgba(33,41,52,1);
				line-height: 38px;
			}
			h2{
				font-weight: 300;
				font-size: 30px;
				margin: 40px 0 20px;
				color: rgba(33,41,52,.8);
			}
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 30px 0 20px;
				color: rgba(33,41,52,.8);
			}
			p{
				font-size: 15px;
				font-weight: 300;
				color: rgba(0,0,0,.8);
				line-height: 1.6em;
				margin: 10px 0;
				&.pre{
					margin-bottom: 60px;
					color: rgba(30,40,50,.6);
					font-size: 18px;
				}
				&.sub{
					color: rgba(30,40,50,.6);
					margin: 40px auto;
				}
			}
			.stats{
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
			.read{
				@include font-size(10,10);
				font-weight: 300;
				margin-top: 30px;
				position: relative;
				i{
					@include font-size(8,8);
					position: relative;
					top:-1px;
				}
			}
			.special{
				background-color: #B28840; //o light-capua
				padding: 10px 0 50px;
				margin: 50px 0 20px 0;
				h1{
					color: rgba(244, 244, 244, 1);
				}
				h2{
					color: rgba(244, 244, 244, 1);
				}
				h3{
					color: rgba(244, 244, 244, .8);
				}
				p{
					color: rgba(244, 244, 244, .8);
				}
			}
		}
	}
}

.ux-pic{
	width: 675px;
	margin: 50px auto;
}
.world-map-wrapper{
	overflow: hidden;
	img{

	}
}
.services-wrapper{
	margin: 40px 0;
	height: 70px;
	.service{
		width: 40px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
		height: 100%;
		@include font-size(6,6);
		.v-align{
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		&:after{
			display: block;
			margin-top: 5px;
		}
		&.s-bower{
			&:after{
				content:'bower';
			}
		}
		&.s-coffescript{
			&:after{
				content:'coffescript';
			}
		}
		&.s-d3{
			&:after{
				content:'d3';
			}
		}
		&.s-github{
			&:after{
				content:'github';
			}
		}
		&.s-grunt{
			&:after{
				content:'grunt';
			}
		}
	}
}
